services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: study_user
      POSTGRES_PASSWORD: study_password
      POSTGRES_DB: study_plan_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8001:8000"
    environment:
      DATABASE_URL: postgresql://study_user:study_password@db:5432/study_plan_db
    depends_on:
      - db

volumes:
  postgres_data: